header
 div.row
     div.w-100.text-center.my-photo
         img(
         src="../image/20161126_214447.jpg",
         class="rounded-circle img-fluid rotate90 box-shadow",
         height="200",
         width="248"
         )
 div.clearfix
 div.row
     div.w-100.text-center.h2= user_name
 div.clearfix